.u-center-text {text-align: center;}

.u-margin-bottom-small {margin-bottom: 1.25rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}

.u-padding-left-small {padding-left: 1.25rem;}
.u-padding-top-small {padding-top: 1.25rem;}
.u-padding-right-small {padding-right: 1.25rem;}
.u-padding-bottom-small {padding-bottom: 1.25rem;}